.header__button {
  background: #FFFFFF;
  border-radius: 8px;

  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 75px;

  color: #222222;
  max-width: fit-content;
}
